*{
    box-sizing: border-box;
}
#left_bar{
    height: 100%;
    width: 245px;
    position: fixed;
    border: 1px solid #CCCCCC;
    padding: 8px 12px 20px 8px;
    top: -1px;
    left: 0;
    bottom: -1px;
}
#img1{
    background-image: url(./mian_img.png);
    background-repeat: no-repeat;
    background-size: 103px 104px;
    width: 150px;
    height: 48px;
    position: relative;
    top: 30px;
    left: 15px;
}
#contents{
    display: table;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 27px;
    left: 15px;
    font-size: 17px;
    width: 100%;
}
#contents > div{
    margin-top: 24px;
}
#content9{
    position: relative;
    top: 300px;
    left: 15px;
}
#img1_1{
    background-image: url(./instagram_image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -404px 0px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img2_1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -219px -27px;
    background-size: 280px 140px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img3_1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -219px -85px;
    background-size: 280px 140px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img4_1{
    background-image: url(./pngtree-instagram-icons-set-png-image_6460643.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -41px -69px;
    background-size: 280px 280px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img5_1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -107px -26px;
    background-size: 280px 140px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img6_1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -33px -27px;
    background-size: 280px 140px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img7_1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -254px -27px;
    background-size: 280px 140px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img8_1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -180px -27px;
    background-size: 280px 140px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#img9_1{
    background-image: url(./instagram_image.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: inline-block;
    background-position: -400px -76px;
    vertical-align: middle;
    margin-right: 7px;
    margin-bottom: 4px;
}
#all{
    display: flex;
    justify-content: center;
    left: 245px;
    margin-left: 340px;
    margin-right: 71px;
    margin-top: 30px;
}
#story{
    width: 630px;
    height: 85px;

    display: flex;
    margin-right: auto;
    right: auto;
}
#story > div{
    margin-right: 20px;
    position: relative;
    top: -4px;
}
#aside{
    height: 1000px;
    padding: 30px 0 0 0;
    margin-left: 64px;
    padding-top: 30;
}
#storytxt{
    font-size: 14px;
    margin-top: 3px;
}
#story_edge{
    width: 66px;
    height: 66px;
    background-image: url(instagram_image.png);
    background-size: 428px 425px;
    background-position: 0px -222px;
}
#story_set1{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#story1{
    width: 56px;
    height: 56px;
    border-radius: 70%;
    border: 1px solid #CCCCCC;
    background-image: url(./44884218_345707102882519_2446069589734326272_n.jpg);
    background-size: 58px 58px;
    background-position: -2px -3px;
    position: relative;
    left: 4px;
    top: 4px;
}
#story2{
    width: 56px;
    height: 56px;
    border-radius: 70%;
    border: 1px solid #CCCCCC;
    background-image: url(./44884218_345707102882519_2446069589734326272_n.jpg);
    background-size: 58px 58px;
    background-position: -2px -3px;
    position: relative;
    left: 4px;
    top: 4px;
}
#story3{
    width: 56px;
    height: 56px;
    border-radius: 70%;
    border: 1px solid #CCCCCC;
    background-image: url(./44884218_345707102882519_2446069589734326272_n.jpg);
    background-size: 58px 58px;
    background-position: -2px -3px;
    position: relative;
    left: 4px;
    top: 4px;
}

#article1{
    width: 630px;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #CCCCCC;
}
#article1 > div{
    margin-left: 80px;
    margin-right: 80px;
}
#name{
    width: 470px;
    height: 56px;

    display: flex;
    position: relative;
    margin-top: 30px;
}
#picture{
    width: 468px;
    height: 468px;
    background-color: black;
    display: flex;
    justify-content: center;
}
#pic{
    width: 354px;
    height: 468px;
    background-image: url(./picture1.jpeg);
    background-size: 354px, 470px;
    background-repeat: no-repeat;
}
#pic2{
    width: 354px;
    height: 468px;
    background-image: url(./kakaotalk1.jpeg);
    background-size: 354px, 470px;
    background-repeat: no-repeat;
}
#emoticon{
    width: 470px;
    height: 46px;

    display: flex;
    margin-right: auto;
    position: relative;
}
#emoticon > div{
    height: 28px;
    width: 28px;
    margin-top: 8px;
    margin-right: 10px;
}
#like{
    width: 470px;
    height: 18px;

    font-size: 14px;
}
#coments{
    width: 470px;
    height: 18px;
    position: relative;
    top: 8px;
    margin-bottom: 8px;
}
#coments > p{
    font-size: 14px;
    display: inline-block;
    margin: 0px 6px 0px 0px;
}
#see_all_coments{
    width: 470px;
    height: 18px;
    position: relative;
    top: 8px;
    margin-bottom: 8px;
}
#see_all_coments > p{
    font-size: 14px;
    display: inline-block;
    margin: 0px 6px 0px 0px;
}
#write_comensts{
    width: 470px;
    height: 18px;
    margin-bottom: 40px;
    position: relative;
    top: 8px;
}
#write_comensts > p{
    font-size: 14px;
    display: inline-block;
    margin: 0px 6px 0px 0px;
}
#profile_picture{
    height: 36px;
    width: 36px;
    border-radius: 70%;
    background-image: url(./KakaoTalk_Image_2023-03-15-19-37-18.jpeg);
    background-size: 90px 150px;
    background-position: -23px -58px;
    border: 1px solid #CCCCCC;
}
#profile_edge{
    width: 42px;
    height: 42px;
    background-image: url(instagram_image.png);
    background-size: 280px 280px;
    background-position: 0px -146px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#profile_name{
    margin-left: 10px;
    text-align: center;
    font-weight: 700;
}
#profile_day{
    color: #9e9e9e;;
}
#more{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 14px;
    background-image: url(./quLU_xi5ZD1.png);
    background-size: 700px 630px;
    background-position: -36px -603px;
}
#more:hover{
    background-image: url(./quLU_xi5ZD1.png);
    background-size: 700px 630px;
    background-position: -4px -603px;
}
#btn1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -33px -27px;
    background-size: 280px 140px;
}
#btn2{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -107px -27px;
    background-size: 280px 140px;
}
#btn2:hover{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -107px -55px;
    background-size: 280px 140px;
}

#btn3{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -71px -28px;
    background-size: 280px 140px;
}
#btn3:hover{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -71px -56px;
    background-size: 280px 140px;
}
#btn4{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -145px -26px;
    background-size: 280px 140px;

    position: absolute;
    right: 0px;
    top: 0px;
}

#myimg{
    height: 56px;
    display: flex;
}
#recommand_img1{
    width: 56px;
    height: 56px;
    background-image: url(./KakaoTalk_Image_2023-03-15-19-37-18.jpeg);
    background-size: 90px 150px;
    background-position: -13px -53px;
    border-radius: 70%;
    display: inline-block;
}
#textbox1{
    position: static;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#textbox1 > span{
    height: 28px;
    width: 224px;
    padding-left: 15px;
}
#recommand_btn1{
    width: 40px;
    height: 28px;
    margin-top: 16px;
    font-size: 12px;
    color: #77A7FF;
    font-weight: 700;
}
#txt_1{
    position: relative;
    width: 320px;
    height: 20px;
    margin-top: 15px;
}
#txt_1_1{
    position: absolute;
    left: 0px;
    font-size: 13px;
    color: dimgray;
    font-weight: 700;
}
#txt_1_2{
    position: absolute;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
}
#friend1{
    height: 50px;
    width: 347px;
    display: flex;
    align-items: center;
}
#recommand_img2{
    width: 34px;
    height: 34px;
    background-image: url(./44884218_345707102882519_2446069589734326272_n.jpg);
    background-size: 34px 34px;
    border-radius: 70%;
    display: inline-block;
    margin: 7px 5px 5px 5px;
}
#textbox2{
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#textbox2 > span{
    height: 17px;
    width: 224px;
    padding-left: 15px;
    font-size: 12px;
}
#recommand_btn2{
    width: 40px;
    height: 28px;
    margin-top: 16px;
    font-size: 12px;
    color: #77A7FF;
    font-weight: 700;
}
#footer1{
    font-size: 12px;
    display: table;
    margin-right: auto;
    margin-top: 30px;
    color: #bdbdbd;
}
#footer1 > span{
    margin-right: 8px;
}
#footer2{
    font-size: 12px;
    display: table;
    margin-right: auto;
    margin-top: 6px;
    color: #bdbdbd;
}
#footer2 > span{
    margin-right: 8px;
}

#footer3{
    font-size: 13px;
    display: table;
    margin-right: auto;
    margin-top: 25px;
    color: #bdbdbd;
}


#modal_wrap {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 410px;
    height: 455px;
    border-radius: 5%;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}
#modal_background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
#modal_textset{
    width: 100%;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modal_wrap > text {
    margin-top: 49px;
    margin-left: 5px;
}
#modal_textset > div{
    padding: 4px 8px 4px 8px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#modal_text1{
    border-bottom: 1px solid #CCCCCC;
    color: red;
}
#modal_text2{
    border-bottom: 1px solid #CCCCCC;
    color: red;
}
#modal_text3{
    border-bottom: 1px solid #CCCCCC;
}
#modal_text4{
    border-bottom: 1px solid #CCCCCC;
}
#modal_text5{
    border-bottom: 1px solid #CCCCCC;
}
#modal_text6{
    border-bottom: 1px solid #CCCCCC;
}
#modal_text7{
    border-bottom: 1px solid #CCCCCC;
}
#modal_text8{
    border-bottom: 1px solid #CCCCCC;
}

#modal_wrap2 {
    display: none;
    width: 85%;
    height: 95%;
    position: absolute;
    top: 272px;
    left: 360px;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
}
#modal_background2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

#modal2_close{
    height: 30px;
    width: 30px;
    background-image: url(./quLU_xi5ZD1.png);
    background-position: -243px -407px;
    position: absolute;
    right: 10px;
    top: 15px;
}

#modal2_wrapall{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#modal2_picture{
    height: 100%;
    width: 60%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal2_img{
    width: 609px;
    height: 760px;
    background-image: url(./picture1.jpeg);
    background-repeat: no-repeat;
    background-size: 609px 813px;
    background-position: -26px 0px;
}
#modal2_textset{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
}
#modal2_profile{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 8px;
}
#modal2_message1{
    width: 100%;
    height: 60px;
    margin-top: 70px;
    display: flex;
    right: auto;
    align-items: center;
    padding-left: 8px;
}
#modal2_message2{
    width: 100%;
    height: 60px;
    display: flex;
    right: auto;
    align-items: center;
    padding-left: 8px;
}
#modal2_status{
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 60px;
    border-top: 1px solid #CCCCCC;
}
#modal2_reply{
    width: 100%;
    height: 30px;
    padding-left: 70px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
#modal2_writemessage{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 8px;
}
#modal2_profile2{
    margin-left: 10px;
    text-align: center;
}
#modal2_profile3{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 20px;
    background-image: url(./quLU_xi5ZD1.png);
    background-size: 700px 630px;
    background-position: -36px -603px;
}
#modal2_status_icon{
    display: flex;
    align-items: center;
    right: auto;
    height: 40%;
}
#modal2_status_icon > div{
    height: 28px;
    width: 28px;
    margin-top: 10px;
    margin-left: 12px;
}
#modal2_status_btn1{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -33px -27px;
    background-size: 280px 140px;
}
#modal2_status_btn2{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -71px -28px;
    background-size: 280px 140px;
}
#modal2_status_btn3{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -107px -27px;
    background-size: 280px 140px;
}
#modal2_status_btn4{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-position: -145px -26px;
    background-size: 280px 140px;

    position: absolute;
    right: 15px;
    top: -2px;
}
#modal2_status_like{
    font-size: 14px;
    margin-left: 16px;
    height: 30%;
    display: flex;
    align-items: center;
    right: auto;
}
#modal2_status_text{
    font-size: 10px;
    margin-left: 16px;
    height: 30%;
    display: flex;
    right: auto;
    position: relative;
}
#recommand_img3{
    width: 24px;
    height: 24px;
    background-image: url(./quLU_xi5ZD1.png);
    background-size: 630px 570px;
    background-position: -372px -452px;
    margin-left: 8px;
}
#modal2_writemessage_t1{
    font-size: 14px;
    margin-left: 20px;
}
#modal2_writemessage_t2{
    font-size: 14px;
    position: absolute;
    right: 18px;
}
#text_gray{
    color:#9e9e9e;
}